# Created by .ignore support plugin (hsz.mobi)
/var/jenkins_home
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# SSL certificates
*.pem

ssl
users
/config/.m2/settings.xml
/config/.m2/settings-security.xml
